[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "buch2/themes/apollo"]
	path = buch2/themes/apollo
	url = https://github.com/not-matthias/apollo
[submodule "themes/salinger"]
	path = themes/salinger
	url = https://github.com/jacksalici/salinger-theme.git
[submodule "themes/poison"]
	path = themes/poison
	url = https://github.com/lukeorth/poison.git
[submodule "themes/anubis"]
	path = themes/anubis
	url = https://github.com/mitrichius/hugo-theme-anubis.git
[submodule "themes/gobuchtm"]
	path = themes/gobuchtm
	url = https://github.com/rokkerruslan/gobuchtm
